*.class
*.log

# vim specific
.swp

# macOS specific
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.idea
.idea_modules
.bsp

# metals artifacts
.vscode
.metals
.bloop
**/metals.sbt
